<div class="card mb-3">
    <div class="card-header">
      <h6>TA Lists</h6>
    </div>
    <div class="panel panel-primary">
        <div class="panel-body">            
            
            <div class="loading-custom" *ngIf="loading"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>
            <div class="loading-custom" *ngIf="loadingDel"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>
            
            <div class="card-panel-box-detail">
                <div class="customTable">
                    <div class="table-responsive custom-fixed-header-table" style="max-height:600px">                        
                        <table id="showTasLists" class="table" data-toolbar="#toolbar" data-search="true"
                            data-show-export="true" data-show-columns="true" data-page-size="50"
                            data-pagination="true"  data-page-list="[10, 25, 50, 100, All]" data-detail-formatter="detailFormatter">
                            <thead style="background-color:#32404E;color: #fff;">
                                <tr>
                                    <th data-field="sr_no" data-sortable="true" width="25%">Sr No</th>
                                    <th data-field="id" data-visible="false"></th>
                                    <th data-field="name" data-sortable="true" width="25%">Name</th>
                                    <th data-field="description" data-sortable="true" class="nowrap" width="25%">Description</th>
                                    <th data-field="created_at" data-sortable="true" width="25%">Created At</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
