<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
        <i class="fa-solid fa-bars"></i>
    </div>
    <i class="navbar-brand px-4" href="#">Innovation Tracker</i>

    <div class="navbar-collapse">
        <!--<ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Menu1</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Child1</a></li>
                    <li><a class="dropdown-item" href="#">Child2</a></li>
                </ul>
            </li>
        </ul>-->
    </div>

    <!--<form class="d-flex me-5">
        <input class="form-control me-2" type="search" placeholder="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
    </form>-->

    <div class="profile-logo dropstart">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">{{result.email}}</button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <!--<li><a [routerLink]="['/profile']" class="dropdown-item">Profile</a></li>-->
            <li><a [routerLink]="['/logout']" class="dropdown-item">Logout</a></li>
        </ul>
    </div>

</nav>