<div class="card mb-3 p-1">
    <div class="card-header">
      <h6>Approved News</h6>
    </div>

    <div class="loading-custom" *ngIf="loading"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>
    
    <div class="panel panel-primary">
        <div class="panel-body">                    
            <div class="card-panel-box-detail">
                <div class="customTable">
                    <div class="table-wrapper table-responsive custom-fixed-header-table" style="max-height:600px">
                        <table id="showNewsletterLists" class="table" data-toolbar="#toolbar" data-search="true"
                        data-escape="false" data-show-export="true" data-show-columns="true" data-page-size="50"
                            data-pagination="true"  data-page-list="[10, 25, 50, 100, All]" data-detail-formatter="detailFormatter">
                            <thead style="background-color: #32404e; color: #fff;">
                                <tr>
                                    <!--<th data-field="sr_no" data-sortable="true">Sr No</th>-->
                                    <th data-field="id" data-visible="false"></th>
                                    <th data-field="publication_date" data-sortable="true" data-visible="true" width="10%">Date</th>
                                    <th data-field="title" data-sortable="true" width="15%">Title</th>
                                    <th data-field="description" data-sortable="true" width="30%">Description</th>
                                    <th data-field="url_title" data-sortable="true" width="10%">URL</th>
                                    <th data-field="show_comments" data-sortable="true" width="10%">Comments</th>
                                    <th data-field="add_suggestion" data-sortable="true" width="10%">Suggest</th>
                                    <th data-field="show_relations" data-sortable="true" data-cell-style="cellStyle">Metadata</th>
                                    <!--<th data-field="approve" width="10%" *ngIf="(userType.user_type_id==1 || userType.user_type_id==3)">Approve</th>-->
                                </tr>
                            </thead>                           
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Show Comments -->
<ng-template #showCommentsNewsletterModal let-c="close" let-d="dismiss">  
  <div class="loading-custom-comments" *ngIf="loadingComment"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>
  <div class="modal-header modal-lg" style="background: #32404E !important;color:#fff;">
      <h4 class="modal-title">{{newsHeading}}</h4>
      &nbsp;
      <button class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body white_bg without_bord_rad">  
      <div *ngFor="let newsCommentsRecord of newsCommentsRecords">
        <div class="m-4">
          <div class="alert alert-primary alert-dismissible fade show">
            <p>{{newsCommentsRecord.description}}</p>
            <span class="user-comments">Commented By: {{newsCommentsRecord.name}}</span>
          </div>
        </div>        
      </div>
  </div>
</ng-template>

<!-- Show Relations for TA master lists -->
<ng-template #showRelationsNewsletterModal let-c="close" let-d="dismiss">  
  <div class="loading-custom-comments" *ngIf="loadingRelations"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>
  <div class="modal-header modal-lg" style="background: #32404E !important;color:#fff;">
      <h4 class="modal-title">Add Metadata - TA</h4>
      &nbsp;
      <button class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body white_bg without_bord_rad">
    <!-- No Exists TA News relation -->
    <div class='halfWidth'>
      <div class="card-panel-box bg-theme top-tile">
        <div class="card-panel-box card-panel-box-heading">
          TA Master List <img *ngIf="loadingTa" src="../../assets/images/small-loader.gif" width="18px" />
        </div>
        <div class="alert success-alert" *ngIf="saveMessage">
          <span>Selected TA is attached</span>
        </div>
        <form #taNewsRlForm="ngForm" [formGroup]="formValue">
            <div class="card-panel-box-detail" style="height: 150px;overflow: auto;">
              <div class="checkbox-group" style="min-height: 183px; color: aliceblue;">
                <div *ngFor="let ta of tasRecords" class="form-check">
                  <input class="form-check-input" required type="checkbox" [value]="ta.ta_id"
                  (change)="selectTa($event)" *ngIf="ta.name != 'All list are attached'">
                  <label class="form-check-label" for="defaultCheckTAAI">{{ta.name}}</label>
                </div>
              </div>
            </div>          
        </form>
      </div> 
      <div>
        <button type="submit" class="btn btn-primary" (click)="saveNewsTaRlT()" [disabled]="!taNewsRlForm.form.valid">Attach</button>&nbsp;
        <!--<button type="submit" class="btn btn-danger" (click)="d('Cross click')" id="cancel">Close</button>-->
      </div>        
    </div>   
    
    <!-- Exists TA News relation -->
    <div class="card-panel-box bg-theme top-tile" style="float: left;width: 48%;" *ngIf="showExistTA">
      <div class="card-panel-box-heading">
        Existing Relation with TA <img *ngIf="loadingExistTa" src="../../assets/images/small-loader.gif" width="18px" />
      </div>
      <div class="card-panel-box-detail" style="height: 150px;overflow: auto;">
        <div class="checkbox-group" style="min-height: 183px; color: aliceblue;" *ngIf="tasExistRecords?.length > 0">
          <div *ngFor="let ta_exist of tasExistRecords" class="form-check">
            <label class="form-check-label" for="defaultCheckTAAI" style="color: aliceblue;">{{ta_exist.name}}</label>
          </div>
        </div>       
      </div>
    </div>
  </div>
</ng-template>
<!-- End Relations for TA master lists -->


<!-- 2. Show Relations for Disease master lists -->
<ng-template #showRelationsNewsletterModalDisease let-c="close" let-d="dismiss">  
  <div class="loading-custom-comments" *ngIf="loadingRelationsDisease"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>
  <div class="modal-header modal-lg" style="background: #32404E !important;color:#fff;">
      <h4 class="modal-title">Add Metadata - Disease</h4>
      &nbsp;
      <button class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body white_bg without_bord_rad">
    <!-- No Exists TA News relation -->
    <div class='halfWidth'>
      <div class="card-panel-box bg-theme top-tile">
        <div class="card-panel-box card-panel-box-heading">
          Disease Master List <img *ngIf="loadingDisease" src="../../assets/images/small-loader.gif" width="18px" />
        </div>
        <div class="alert success-alert" *ngIf="saveMessageDisease">
          <span>Selected Disease attached</span>
        </div>

        <form #diseaseNewsRlForm="ngForm" [formGroup]="formValueDisease">          
            <div class="card-panel-box-detail" style="height: 150px;overflow: auto;">
              <div class="checkbox-group" style="min-height: 183px; color: aliceblue;">
                <div *ngFor="let disease of diseaseRecords" class="form-check">
                  <input class="form-check-input" required type="checkbox" [value]="disease.disease_id"
                  (change)="selectDisease($event)" *ngIf="disease.name != 'All list are attached'">
                  <label class="form-check-label" for="defaultCheckTAAI">{{disease.name}}</label>
                </div>
              </div>
            </div>          
        </form>
      </div> 
      <div>
        <button type="submit" class="btn btn-primary" (click)="saveNewsDiseaseRlT()" [disabled]="!diseaseNewsRlForm.form.valid">Attach</button>&nbsp;
        <!--<button type="submit" class="btn btn-danger" (click)="d('Cross click')" id="cancel">Close</button>-->
      </div>        
    </div>   
    
    <!-- Exists Disease News relation -->
    <div class="card-panel-box bg-theme top-tile" style="float: left;width: 48%;" *ngIf="showExistDisease">
      <div class="card-panel-box-heading">
        Existing Relation with Disease <img *ngIf="loadingExistDisease" src="../../assets/images/small-loader.gif" width="18px" />
      </div>
      <div class="card-panel-box-detail" style="height: 150px;overflow: auto;">
        <div class="checkbox-group" style="min-height: 183px; color: aliceblue;">
          <div *ngFor="let disease_exist of diseaseExistRecords" class="form-check">
            <label class="form-check-label" for="defaultCheckTAAI" style="color: aliceblue;">{{disease_exist.name}}</label>
          </div>
        </div>
      </div>
    </div>
    </div>
</ng-template>
<!-- End Relations for Disease master lists -->


<!-- 3. Show Relations for Drug master lists -->
<ng-template #showRelationsNewsletterModalDrug let-c="close" let-d="dismiss">  
  <div class="loading-custom-comments" *ngIf="loadingRelationsDrug"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>
  <div class="modal-header modal-lg" style="background: #32404E !important;color:#fff;">
      <h4 class="modal-title">Add Metadata - Drug</h4>
      &nbsp;
      <button class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body white_bg without_bord_rad">
    <!-- No Exists Drug News relation -->
    <div class='halfWidth'>
      <div class="card-panel-box bg-theme top-tile">
        <div class="card-panel-box card-panel-box-heading">
          Drug Master List <img *ngIf="loadingDrug" src="../../assets/images/small-loader.gif" width="18px" />
        </div>
        <div class="alert success-alert" *ngIf="saveMessageDrug">
          <span>Selected Drug attached</span>
        </div>

        <form #drugNewsRlForm="ngForm" [formGroup]="formValueDrug">          
            <div class="card-panel-box-detail" style="height: 150px;overflow: auto;">
              <div class="checkbox-group" style="min-height: 183px; color: aliceblue;">
                <div *ngFor="let drug of drugRecords" class="form-check">
                  <input class="form-check-input" required type="checkbox" [value]="drug.drug_id"
                  (change)="selectDrug($event)" *ngIf="drug.name != 'All list are attached'">
                  <label class="form-check-label" for="defaultCheckTAAI">{{drug.name}}</label>
                </div>
              </div>
            </div>          
        </form>
      </div> 
      <div>
        <button type="submit" class="btn btn-primary" (click)="saveNewsDrugRlT()" [disabled]="!drugNewsRlForm.form.valid">Attach</button>&nbsp;
        <!--<button type="submit" class="btn btn-danger" (click)="d('Cross click')" id="cancel">Close</button>-->
      </div>        
    </div>   
    
    <!-- Exists Drug News relation -->
    <div class="card-panel-box bg-theme top-tile" style="float: left;width: 48%;" *ngIf="showExistDrug">
      <div class="card-panel-box-heading">
        Existing Relation with Drug <img *ngIf="loadingExistDrug" src="../../assets/images/small-loader.gif" width="18px" />
      </div>
      <div class="card-panel-box-detail" style="height: 150px;overflow: auto;">
        <div class="checkbox-group" style="min-height: 183px; color: aliceblue;">
          <div *ngFor="let drug_exist of drugExistRecords" class="form-check">
            <label class="form-check-label" for="defaultCheckTAAI" style="color: aliceblue;">{{drug_exist.name}}</label>
          </div>
        </div>
      </div>
    </div>
    </div>
</ng-template>
<!-- End Relations for Drug master lists -->

<!-- 4. Show Relations for Company master lists -->
<ng-template #showRelationsNewsletterModalCompany let-c="close" let-d="dismiss">  
  <div class="loading-custom-comments" *ngIf="loadingRelationsCompany"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>
  <div class="modal-header modal-lg" style="background: #32404E !important;color:#fff;">
      <h4 class="modal-title">Add Metadata - Company</h4>
      &nbsp;
      <button class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body white_bg without_bord_rad">
    <!-- No Exists Company News relation -->
    <div class='halfWidth'>
      <div class="card-panel-box bg-theme top-tile">
        <div class="card-panel-box card-panel-box-heading">
          Company Master List <img *ngIf="loadingCompany" src="../../assets/images/small-loader.gif" width="18px" />
        </div>
        <div class="alert success-alert" *ngIf="saveMessageCompany">
          <span>Selected Company attached</span>
        </div>

        <form #companyNewsRlForm="ngForm" [formGroup]="formValueCompany">          
            <div class="card-panel-box-detail" style="height: 150px;overflow: auto;">
              <div class="checkbox-group" style="min-height: 183px; color: aliceblue;">
                <div *ngFor="let company of companyRecords" class="form-check">
                  <input class="form-check-input" required type="checkbox" [value]="company.company_id"
                  (change)="selectCompany($event)" *ngIf="company.name != 'All list are attached'">
                  <label class="form-check-label" for="defaultCheckTAAI">{{company.name}}</label>
                </div>
              </div>
            </div>          
        </form>
      </div> 
      <div>
        <button type="submit" class="btn btn-primary" (click)="saveNewsCompanyRlT()" [disabled]="!companyNewsRlForm.form.valid">Attach</button>&nbsp;
      </div>        
    </div>   
    
    <!-- Exists Company News relation -->
    <div class="card-panel-box bg-theme top-tile" style="float: left;width: 48%;" *ngIf="showExistCompany">
      <div class="card-panel-box-heading">
        Existing Relation with Company <img *ngIf="loadingExistCompany" src="../../assets/images/small-loader.gif" width="18px" />
      </div>
      <div class="card-panel-box-detail" style="height: 150px;overflow: auto;">
        <div class="checkbox-group" style="min-height: 183px; color: aliceblue;">
          <div *ngFor="let company_exist of companyExistRecords" class="form-check">
            <label class="form-check-label" for="defaultCheckTAAI" style="color: aliceblue;">{{company_exist.name}}</label>
          </div>
        </div>
      </div>
    </div>
    </div>
</ng-template>
<!-- End Relations for Company master lists -->

<!-- 5. Show Relations for Gene master lists -->
<ng-template #showRelationsNewsletterModalGene let-c="close" let-d="dismiss">  
  <div class="loading-custom-comments" *ngIf="loadingRelationsGene"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>
  <div class="modal-header modal-lg" style="background: #32404E !important;color:#fff;">
      <h4 class="modal-title">Add Metadata - Gene</h4>
      &nbsp;
      <button class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body white_bg without_bord_rad">
    <!-- No Exists Gene News relation -->
    <div class='halfWidth'>
      <div class="card-panel-box bg-theme top-tile">
        <div class="card-panel-box card-panel-box-heading">
          Gene Master List <img *ngIf="loadingGene" src="../../assets/images/small-loader.gif" width="18px" />
        </div>
        <div class="alert success-alert" *ngIf="saveMessageGene">
          <span>Selected Gene attached</span>
        </div>

        <form #geneNewsRlForm="ngForm" [formGroup]="formValueGene">          
            <div class="card-panel-box-detail" style="height: 150px;overflow: auto;">
              <div class="checkbox-group" style="min-height: 183px; color: aliceblue;">
                <div *ngFor="let gene of geneRecords" class="form-check">
                  <input class="form-check-input" required type="checkbox" [value]="gene.gene_id"
                  (change)="selectGene($event)" *ngIf="gene.name != 'All list are attached'">
                  <label class="form-check-label" for="defaultCheckTAAI">{{gene.name}}</label>
                </div>
              </div>
            </div>          
        </form>
      </div> 
      <div>
        <button type="submit" class="btn btn-primary" (click)="saveNewsGeneRlT()" [disabled]="!geneNewsRlForm.form.valid">Attach</button>&nbsp;
      </div>        
    </div>   
    
    <!-- Exists Gene News relation -->
    <div class="card-panel-box bg-theme top-tile" style="float: left;width: 48%;" *ngIf="showExistGene">
      <div class="card-panel-box-heading">
        Existing Relation with Gene <img *ngIf="loadingExistGene" src="../../assets/images/small-loader.gif" width="18px" />
      </div>
      <div class="card-panel-box-detail" style="height: 150px;overflow: auto;">
        <div class="checkbox-group" style="min-height: 183px; color: aliceblue;">
          <div *ngFor="let gene_exist of geneExistRecords" class="form-check">
            <label class="form-check-label" for="defaultCheckTAAI" style="color: aliceblue;">{{gene_exist.name}}</label>
          </div>
        </div>
      </div>
    </div>
    </div>
</ng-template>
<!-- End Relations for Gene master lists -->

<!-- 6. Show Relations for MOA master lists -->
<ng-template #showRelationsNewsletterModalMoa let-c="close" let-d="dismiss">  
  <div class="loading-custom-comments" *ngIf="loadingRelationsMoa"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>
  <div class="modal-header modal-lg" style="background: #32404E !important;color:#fff;">
      <h4 class="modal-title">Add Metadata - Moa</h4>
      &nbsp;
      <button class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body white_bg without_bord_rad">
    <!-- No Exists Moa News relation -->
    <div class='halfWidth'>
      <div class="card-panel-box bg-theme top-tile">
        <div class="card-panel-box card-panel-box-heading">
          Moa Master List <img *ngIf="loadingMoa" src="../../assets/images/small-loader.gif" width="18px" />
        </div>
        <div class="alert success-alert" *ngIf="saveMessageMoa">
          <span>Selected Moa attached</span>
        </div>

        <form #moaNewsRlForm="ngForm" [formGroup]="formValueMoa">          
            <div class="card-panel-box-detail" style="height: 150px;overflow: auto;">
              <div class="checkbox-group" style="min-height: 183px; color: aliceblue;">
                <div *ngFor="let moa of moaRecords" class="form-check">
                  <input class="form-check-input" required type="checkbox" [value]="moa.moa_id"
                  (change)="selectMoa($event)" *ngIf="moa.name != 'All list are attached'">
                  <label class="form-check-label" for="defaultCheckTAAI">{{moa.name}}</label>
                </div>
              </div>
            </div>          
        </form>
      </div> 
      <div>
        <button type="submit" class="btn btn-primary" (click)="saveNewsMoaRlT()" [disabled]="!moaNewsRlForm.form.valid">Attach</button>&nbsp;
      </div>        
    </div>   
    
    <!-- Exists Moa News relation -->
    <div class="card-panel-box bg-theme top-tile" style="float: left;width: 48%;" *ngIf="showExistMoa">
      <div class="card-panel-box-heading">
        Existing Relation with Moa <img *ngIf="loadingExistMoa" src="../../assets/images/small-loader.gif" width="18px" />
      </div>
      <div class="card-panel-box-detail" style="height: 150px;overflow: auto;">
        <div class="checkbox-group" style="min-height: 183px; color: aliceblue;">
          <div *ngFor="let moa_exist of moaExistRecords" class="form-check">
            <label class="form-check-label" for="defaultCheckTAAI" style="color: aliceblue;">{{moa_exist.name}}</label>
          </div>
        </div>
      </div>
    </div>
    </div>
</ng-template>
<!-- End Relations for Moa master lists -->


<!-- Add Suggestion -->
<ng-template #showAddSuggestNewsletterModal let-c="close" let-d="dismiss">  
  <div class="loading-custom-comments" *ngIf="loadingComment"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>
  <div class="modal-header modal-lg" style="background: #32404E !important;color:#fff;">
      <h4 class="modal-title">{{newsHeading}}</h4>
      &nbsp;
      <button class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body white_bg without_bord_rad">  
      <div *ngFor="let newsCommentsRecord of newsCommentsRecords">
        <div class="m-4">
          <div class="alert alert-primary alert-dismissible fade show">
            <p>{{newsCommentsRecord.description}}</p>
            <span class="user-comments">Commented By: {{newsCommentsRecord.name}}</span>
          </div>
        </div>        
      </div>
  </div>
</ng-template>