.loading-custom {
    position: absolute;
    width: 200px;
    left: 515px;
    top: 160px;
    padding: 10px;
    background: #a4b5e6;
    text-align: center;
    color: aliceblue;
    border: 1px solid #b3af22;

    span {
        color: #000;
    }
}

.loading-custom-comments {
    position: absolute;
    width: 200px;
    left: 290px;
    top: 25px;
    padding: 10px;
    background: #576878;
    text-align: center;
    color: aliceblue;
    border: 1px solid #b3af22;

    span {
        color: #000;
    }
}


.text-white {
    color: #fff;
}

.close {
    opacity: 1;
}

.modal-header {
    padding: 7px 20px;
    border: none;
    background: #077cb7;

    h4 {
        font-size: 20px;
        margin-top: 0px;
    }
}

.filter-single-left {
    h4 {
        font-size: 16px;
        padding: 10px 15px;
        color: #fff;
        border-bottom: 1px solid #1767c5;
    }

    .filter-single-body {
        padding: 10px 15px;

        .custom-control-description {
            font-size: 13px;
        }
    }

    .search-box {
        position: relative;
        margin-bottom: 10px;

        input {
            font-size: 13px;
            border-radius: 5px;
        }

        span {
            position: absolute;
            right: 10px;
            top: 12px;
            font-size: 14px;
            color: #606060;
        }
    }
}


///// scroll
.table-wrapper {
    max-height: 700px !important;
    width: 100%;
    overflow: auto;
    display: inline-block;
}

.user-comments {
    right: 9px;
    position: absolute;
    bottom: 3px;
    font-size: 13px;
}


.alert {
    width: 95%;
    position: relative;
    border-radius: 1px;
    box-shadow: 0 0 15px 5px #ccc;
}


@mixin alert($name, $bgColor) {
    $accentColor: darken($bgColor, 50);

    .#{$name} {
        background-color:#{$bgColor};
        border-left: 5px solid $accentColor;
        padding: 3px;
        width: 98%;

        .close {
            border-color: $accentColor;
            color: $accentColor;
        }
    }
}

@include alert(simple-alert, #ebebeb);
@include alert(success-alert, #a8f0c6);
@include alert(danger-alert, #f7a7a3);
@include alert(warning-alert, #ffd48a);



.card-panel-box {
    margin-bottom: 20px;
    box-shadow: 0px 1px 5px #ddd;
    background: #32404E;
}

.card-panel-box .card-panel-box-heading {
    font-size: 16px;
    padding: 12px 15px;
    color: #fff;
    display: flex;
    align-items: center;
    column-gap: 8px;
    border-bottom: 1px solid;

    span.arrow-down {
        margin-left: auto;

        img {
            width: 20px;
        }
    }
}

.card-panel-box .card-panel-box-detail {
    padding: 2px 20px 30px 20px;
}

.card-panel-box .card-panel-box-detail .search-input {
    margin-bottom: 10px;
}

.card-panel-box .card-panel-box-detail .search-input input:focus {
    border: 1px solid #187ebc;
    outline: none;
    box-shadow: none;
}

.card-panel-box .card-panel-box-detail .checkbox-group .form-check {
    margin-bottom: 3px;
}

.fullWidth {
    float: left;
    width: 100%;
}

.halfWidth {
    float: left;
    width: 50%;
}

.loading-custom-suggestion {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 220px;
    height: 220px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 55px 266px;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}