.loading-custom {
    position: absolute;
    width: 200px;
    left: 515px;
    top: 160px;
    padding: 10px;
    background: #a4b5e6;
    text-align: center;
    color: aliceblue;
    border: 1px solid #b3af22;

    span {
        color: #000;
    }
}

.loading-custom-add {
    position: absolute;
    width: 200px;
    left: 290px;
    top: 25px;
    padding: 10px;
    background: #a4b5e6;
    text-align: center;
    color: aliceblue;
    border: 1px solid #b3af22;

    span {
        color: #000;
    }
}


.text-white {
    color: #fff;
}

.close {
    opacity: 1;
}

.modal-header {
    padding: 7px 20px;
    border: none;
    background: #077cb7;

    h4 {
        font-size: 20px;
        margin-top: 0px;
    }
}

.filter-single-left {
    h4 {
        font-size: 16px;
        padding: 10px 15px;
        color: #fff;
        border-bottom: 1px solid #1767c5;
    }

    .filter-single-body {
        padding: 10px 15px;

        .custom-control-description {
            font-size: 13px;
        }
    }

    .search-box {
        position: relative;
        margin-bottom: 10px;

        input {
            font-size: 13px;
            border-radius: 5px;
        }

        span {
            position: absolute;
            right: 10px;
            top: 12px;
            font-size: 14px;
            color: #606060;
        }
    }
}


///// scroll
.table-wrapper {
    max-height: 700px !important;
    width: 100%;
    overflow: auto;
    display: inline-block;
}