<div class="card mb-3 p-1">
    <div class="card-header">
      <h6>Pending News</h6>
    </div>

    <div class="loading-custom" *ngIf="loading"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>
    <div class="loading-custom" *ngIf="loadingDel"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>
    
    <div class="panel panel-primary">
        <div class="panel-body">                    
            <div class="card-panel-box-detail">
                <div class="row">
                    <div class="col m-1">
                        <button class="btn btn-primary float-end" type="button" data-bs-toggle="modal" (click)="addNewsletterPopup();">Add Newsletter</button>
                    </div>
                </div> 
                <div class="customTable">
                    <div class="table-wrapper table-responsive custom-fixed-header-table" style="max-height:600px">                        
                        <div id="toolbar">
                            <button id="showSelectedRows" class="btn btn-primary" type="button" (click)="approvedMultipleNewsletter()">Approve</button>
                        </div>
                        <table id="showNewsletterLists" class="table" data-toolbar="#toolbar" data-search="true"
                        data-escape="false" data-show-export="true" data-show-columns="true" data-page-size="50"
                            data-pagination="true"  data-page-list="[10, 25, 50, 100, All]" data-detail-formatter="detailFormatter">
                            <thead style="background-color: #32404e; color: #fff;">
                                <tr>
                                    <!--<th data-field="sr_no" data-sortable="true">Sr No</th>-->
                                    <th data-field="state" data-checkbox="true"></th>                                    
                                    <th data-field="id" data-visible="false"></th>
                                    <th data-field="publication_date" data-sortable="true" data-visible="true">Date</th>
                                    <th data-field="title" data-sortable="true" width="20%">Title</th>
                                    <th data-field="description" data-sortable="true" width="40%">Description</th>
                                    <th data-field="url_title" data-sortable="true" width="10%">URL</th>                                    
                                    <!--<th data-field="user_name" data-sortable="true" width="10%">Added By</th>-->
                                    <th data-field="approve" width="10%" *ngIf="(userType.user_type_id==1 || userType.user_type_id==3)">Approve</th>
                                    <th data-field="disapprove" width="10%">Disapprove</th>
                                    <th data-field="show_comments" data-sortable="true" width="10%">Show Comments</th>
                                    <!--<th data-field="edit" width="10%">Edit</th>-->
                                    <!--<th data-field="delete" width="10%">Delete</th>-->
                                </tr>
                            </thead>                           
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Form -->
<ng-template #addFormNewsletterModal let-c="close" let-d="dismiss">  
    <!--<div class="loading-custom-add" *ngIf="loadingEdit"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>-->
    <div class="loading-custom-add" *ngIf="loadingAdd"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>
    <div class="modal-header modal-lg" style="background: #32404E !important;color:#fff;">
        <h4 class="modal-title">Add News</h4>
        &nbsp;
        <button class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body white_bg without_bord_rad">  
        <form #newsletterForm="ngForm" [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Ttitle</label>
            <input type="text" formControlName="title" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="passHelp" class="form-text text-danger"
                *ngIf="newsletterForm.form.controls.title?.errors?.required && newsletterForm.form.controls.title?.touched">
                Title is required!
            </small>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Description</label>

            <editor
                formControlName="description"
                apiKey="4uuge72jiyj9bo3ne8hz6ib9m1xtcu3fna8egp306juhxntl"
                [init]="{
                    height: 500,
                    menubar: false,
                    plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount'
                    ],
                    toolbar:
                    'undo redo | formatselect | bold italic backcolor | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent | removeformat | help'
                }"
                ></editor>
            <!--<textarea type="text" formControlName="description" class="form-control" id="exampleInputPassword1"></textarea>-->
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Publication Date</label><br/>
            <!--<input type="text" formControlName="publication_date" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->            
            <span style="float:left;">

                <input class="" formControlName="publication_date" required name="publication_date" placeholder="mm-dd-yyyy" [value]="publication_date"
                ngbDatepicker #f="ngbDatepicker">

                &nbsp;<div class="input-group-append" style="float:right;">
                    <button class="btn btn-outline-secondary calendar" (click)="f.toggle()" type="button"><span class="fa fa-calendar"></span></button>
                </div>
            </span>            
            <br/>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">URL</label>
            <input type="text" formControlName="url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Comments</label>
            <textarea type="text" formControlName="comments" class="form-control" id="exampleInputPassword1"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" (click)="addNewsletterSubmit()" [disabled]="!newsletterForm.form.valid">Add</button>&nbsp;
          <!--<button type="submit" class="btn btn-primary" *ngIf="showUpdate" (click)="updateNewsletterSubmit()" [disabled]="!newsletterForm.form.valid">Update</button>&nbsp;-->
          <button type="submit" class="btn btn-danger" (click)="d('Cross click')" id="cancel">Close</button>
        </form>
    </div>
  </ng-template>


<!-- Approval/Disapprove Form -->
<ng-template #approveFormNewsletterModal let-c="close" let-d="dismiss">
<div class="loading-custom-add" *ngIf="loadingEdit"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>
<div class="loading-custom-add" *ngIf="loadingAdd"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>
<div class="modal-header modal-lg" style="background: #32404E !important;color:#fff;">
    <h4 class="modal-title" *ngIf="showApprove">Approve News</h4>
    <h4 class="modal-title" *ngIf="showDisapprove">Disapprove News</h4>
    &nbsp;
    <button class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body white_bg without_bord_rad">  
    <form #approveNewsForm="ngForm" [formGroup]="formValue">
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Comments</label>
        <textarea type="text" required formControlName="comments" class="form-control" id="exampleInputPassword1"></textarea>

        <small id="passHelp" class="form-text text-danger"
            *ngIf="approveNewsForm.form.controls.comments?.errors?.required && approveNewsForm.form.controls.comments?.touched">
            Comment is required!
        </small>
        </div>

        <button type="submit" class="btn btn-primary" (click)="approveNewsletterSubmit()" *ngIf="showApprove" [disabled]="!approveNewsForm.form.valid">Approve</button>&nbsp;
        <button type="submit" class="btn btn-primary" (click)="disapproveNewsletterSubmit()" *ngIf="showDisapprove" [disabled]="!approveNewsForm.form.valid">DisApprove</button>&nbsp;
        <button type="submit" class="btn btn-danger" (click)="d('Cross click')" id="cancel">Close</button>
    </form>
</div>
</ng-template>

<!-- Show Comments -->
<ng-template #showCommentsNewsletterModal let-c="close" let-d="dismiss">  
    <div class="loading-custom-comments" *ngIf="loadingComment"><span class="fa fa-spinner fa-spin"></span>&nbsp;Loading...</div>
    <div class="modal-header modal-lg" style="background: #32404E !important;color:#fff;">
        <h4 class="modal-title">{{newsHeading}}</h4>
        &nbsp;
        <button class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body white_bg without_bord_rad">  
        <div *ngFor="let newsCommentsRecord of newsCommentsRecords">
          <div class="m-4">
            <div class="alert alert-primary alert-dismissible fade show">
                <p>{{newsCommentsRecord.description}}</p>
                <span class="user-comments">Commented By: {{newsCommentsRecord.name}}</span>
            </div>
          </div>        
        </div>
    </div>
</ng-template>
    