<div class="card mb-3">
  <div class="card-header">
    <h6>Newsletter</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Designation</th>
            <th>Location</th>
            <th width="100px" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>john@gmail.com</td>
            <td>CTO</td>
            <td>Los Ang.</td>
            <td class="text-center"><span width="20px" data-feather="share"></span></td>
          </tr>
          <tr>
            <td>John</td>
            <td>john@gmail.com</td>
            <td>CTO</td>
            <td>Los Ang.</td>
            <td class="text-center"><span width="20px" data-feather="share"></span></td>
          </tr>
          <tr>
            <td>John</td>
            <td>john@gmail.com</td>
            <td>CTO</td>
            <td>Los Ang.</td>
            <td class="text-center"><span width="20px" data-feather="share"></span></td>
          </tr>
          <tr>
            <td>John</td>
            <td>john@gmail.com</td>
            <td>CTO</td>
            <td>Los Ang.</td>
            <td class="text-center"><span width="20px" data-feather="share"></span></td>
          </tr>
          <tr>
            <td>John</td>
            <td>john@gmail.com</td>
            <td>CTO</td>
            <td>Los Ang.</td>
            <td class="text-center pointer"><span width="20px" data-feather="share"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--<router-outlet></router-outlet>-->
    